<ion-header [translucent]="true">
  
<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button color="secondary">
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>{{ titulo }}</ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card *ngFor = "let card of cards">
      
      <ion-card-header>
        <ion-card-title>{{ card.titulo }}</ion-card-title>
        <ion-card-subtitle>{{ card.subtitulo }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-img [src]="card.foto"></ion-img>
        {{ card.conteudo }}
      </ion-card-content>
    </ion-card>
</ion-content>

<ion-button expand="block">{{ verLoja }}</ion-button>

